@model LoginUser
<h3>Login</h3>
<form asp-action="LetMeIn" asp-controller="Home" method="POST">
    <div class="col-md-5">
        <label asp-for="LoginEmail"></label>
        <input asp-for="LoginEmail" /> <br />
        <span asp-validation-for="LoginEmail"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword" /> <br />
        <span asp-validation-for="LoginPassword"></span>
    </div>
    <button type="submit" class="btn-primary">Login</button>
</form>